My real name is {{name}}.  
(I go by Nick in the US)  

Currently, I am working on 10K Hours, a passion project of mine, aiming to be utilized for my niche needs for time management and lifestyle.

git repository url for 10K Hours: {{html_url}}
latest commit for 10K Hours: `{{latest_commit}}`